.hero {
     background: 
    url('../../assets/images/bg-lines.webp') no-repeat center center / cover, /* Image layer */
    #282175; /* Solid blue color layer */
  min-height: 100vh;
  padding: 100px 0px;
   margin: 0;
   width: 100%;
  position: relative;
  overflow: hidden;
}

.heroContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;

}

.small_font {
  font-size: 69px;
  font-weight: 300;
  line-height: 72px;
  margin-bottom: 20px;
  color: #ffffff; /* white text */
  background: none; /* remove gradient */
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  background-clip: initial;
}

.bold_fonts{
    font-size: 78px;
  font-weight: 600;
  line-height: 72px;
  margin-bottom: 20px;
  color: #ffffff; /* white text */
  background: none; /* remove gradient */
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  background-clip: initial;
}



.heroContent  {
padding-top: 70px;
}

.p {
  font-family: Satoshi, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: white;
  margin-bottom: 30px;
  padding-top: 35px;
}

.heroActions {
  display: flex;
  gap: 15px;
  margin-bottom: 50px;
  align-items: center;
}

.heroStats {
  display: flex;
  gap: 50px;
}

.statItem {
  display: flex;
  flex-direction: column;
}

.statNumber {
  font-size: 28px;
  font-weight: 700;
  color: var(--primary);
}

.statLabel {
  font-size: 14px;
  color: var(--text-gray);
  margin-top: 5px;
}

.heroImage {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  overflow: visible;

}
.btnLarge {
  padding: 14px 32px;
  font-size: 16px;
}

.btnPrimary {
  background: linear-gradient(135deg, var(--primary), var(--primary-dark));
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

.btnPrimary:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
}


.heroBannerImage {
  width: 100%;
  max-width: 520px;
  height: auto;
 
}

@media (max-width: 768px) {
  .heroContainer {
    grid-template-columns: 1fr;
  }

  .heroContent h1 {
    font-size: 32px;
  }

  .heroActions {
    flex-direction: column;
    align-items: flex-start;
  }
}


.btnPlay {
  background: transparent;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 14px;
}

.btnPlay:hover {
  background: var(--primary);
  color: white;
}