.navbar {
  background: white;
  border-bottom: 1px solid var(--border);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
}

.navBrand {
  font-size: 24px;
  font-weight: 700;
  color: var(--primary);
  min-width: 120px;
}

.navLinks {
  display: flex;
  list-style: none;
  gap: 30px;
  flex: 1;
  margin-left: 50px;
}

.navLinks a {
  text-decoration: none;
  color: var(--text-dark);
  font-weight: 500;
  transition: color 0.3s;
}

.navLinks a:hover {
  color: var(--primary);
}

.navActions {
  display: flex;
  gap: 15px;
}



.btn-login {
  background: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-login:hover {
  background: var(--primary);
  color: white;
}

.btn-signup {
  background: var(--primary);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-signup:hover {
  background: var(--primary-dark);
}


/* Dropdown */
.dropdown {
  position: relative;
}

.dropdownToggle {
  cursor: pointer;
  font-weight: 500;
  color: var(--text-dark);
}

.dropdownMenu {
  position: absolute;
  top: 209%;
  left: 0%;
  width: 600px;
  background: white;
  display: flex;
  gap: 40px;
  padding: 24px;
  border-radius: 05px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
  z-index: 200;
}

/* Show dropdown on hover */
.dropdown:hover .dropdownMenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdownColumn h4 {
  font-size: 16px;
  margin-bottom: 12px;
  color: var(--text-dark);
}

.dropdownColumn p {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
  cursor: pointer;
}

.dropdownColumn p strong {
  color: #000;
}

.arrow {
  display: inline-block;
  margin-left: 6px;
  font-size: 14px;
  transition: transform 0.3s ease;
}

/* Rotate arrow when hovering Products */
.dropdown:hover .arrow {
  transform: rotate(180deg);
}